.errorlist > li {
    color: red;
}

table#challenges > tbody > tr {
    cursor: pointer;
}

table#challenges > tbody > tr:before {
    display: table-cell;
    content: '';
    width: 1px;
    height: 100%;
    margin: 1px 0;
    overflow: hidden;
    box-sizing: border-box;
}

table#challenges > tbody > tr.not-started:before {
    background: red;
}

table#challenges > tbody > tr.in-progress:before {
    background: #fcf8e3;
    overflow: hidden;
}

table#challenges > tbody > tr.solved:before {
    background: #dff0d8;
    overflow: hidden;
}

table#challenges > tbody > tr.solved {
    opacity: 0.6;
    transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
}

table#challenges > tbody > tr.solved:hover {
    opacity: 1;
}

#challenge-header.solved {
    padding-left: 2px;
    background: #dff0d8;
}

#uploaded-files tr > td:last-child,
#uploaded-files tr > th:last-child {
    text-align: right;
}

/* covering the "Upload new file" td */
#uploaded-files tr > td:first-child {
    text-align: inherit;
}

.sidebar {
    overflow-y: auto;
}

.recent .challenge {
    cursor: pointer;
}

form .button-holder.text-right > input.button {
    margin-left: 8px;
}