{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>CollabCTF {% block subtitle %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">CollabCTF</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="{% block dashboard_class %}{% endblock %}"><a href="{% url 'index' %}">Dashboard</a></li>
                <li class="{% block settings_class %}{% endblock %}"><a href="{% url 'settings' %}">Settings</a></li>
                <li class="{% block profile_class %}{% endblock %}"><a href="{% url 'profile' %}">Profile</a></li>
                <li class="{% block about_class %}{% endblock %}"><a href="{% url 'about' %}">About</a></li>
                <li class="{% block logout_class %}{% endblock %}"><a href="{% url 'logout' %}">Logout</a></li>
                <li class="{% block chat_class %}{% endblock %}"><a href="">Chat</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="sidebar" style="display: none"></div>

        {# main viewport content #}
        {% block content %}{% endblock %}
    </div>
</div>
{% block scripts %}
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>

    <script src="{% static 'js/metr.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock %}
{% block extra_scripts %}{% endblock %}
</body>
</html>