{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block subtitle %}- Tools{% endblock %}
{% block ctftools_class %}active{% endblock %}
{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="sub-header">CTF Tools</h1>

     <div class="row">
        <div class="col-sm-8 col-md-6">
            {% crispy hash_form %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-md-6">
            {% crispy rot_form %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-md-6">
            {% crispy base_conversion_form %}
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-sm-8 col-md-6">
            {% crispy xor_form %}
        </div>
    </div>
</div>
{% endblock %}