{% extends 'base.html' %}
{% load static %}

{% block subtitle %}- Tools{% endblock %}
{% block content %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header">CTF Tools</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Tool Name</th>
                  <th>Tool Version</th>
                  <th>Status</th>
                  <th>Created By</th>
                  <th>Last Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sample Tool</td>
                  <td>Sample Version 1.0</td>
                  <td>Functional/Buggy</td>
                  <td>Sample User</td>
                  <td>Sample User</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    {% endblock %}
