{% extends 'base.html' %}
{% load static %}

{% block subtitle %}- Reports{% endblock %}
{% block profile_class %}active{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Your Profile</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Your Name</th>
                    <th>Your Email</th>
                    <th>Date Joined</th>
                    <th>Your Permissions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sample User</td>
                    <td>Sample@email.com</td>
                    <td>April, 18th 2014</td>
                    <td>Master</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 class="sub-header">All User Profiles</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date Joined</th>
                    <th>User Permissions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sample User</td>
                    <td>Sample@email.com</td>
                    <td>April, 18th 2014</td>
                    <td>Master</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}