{% extends 'base.html' %}
{% load static %}

{% block subtitle %}- Reports{% endblock %}
{% block profile_class %}active{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Your Profile</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Your Username</th>
                    <th>Your Name</th>
                    <th>Your Email</th>
                    <th>Date Joined</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}