{% extends 'base.html' %}
{% load static %}

{% block subtitle %}- Reports{% endblock %}
{% block reports_class %}active{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">CTF Summary Report</h1>

        <div class="row">
            {% for ctf in ctfs %}
                <div class="col-xs-12 col-sm-6">
                    <h2 class="sub-header">{{ ctf.name }}</h2>
                    <div class="row placeholders report-container" data-href="{% url 'ctf_chart' ctf.slug %}">
                        <div class="col-xs-6 placeholder">
                            <div class="solved-container"></div>
                            <h4>Challenges Solved</h4>
                            <span class="text-muted">Percent for CTF</span>
                        </div>
                        <div class="col-xs-6 placeholder">
                            <div class="points-container"></div>
                            <h4>Points Earned</h4>
                            <span class="text-muted">Percent by CTF</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            $('.report-container').each(function (i, e) {
                var $this = $(this);
                var xhr = $.ajax({
                    url: $this.data('href'),
                    cache: false
                });

                xhr.done(function (data) {
                    var challenges = data['challenges'];
                    var points = data['points'];
                    var users = data['users'];
                    var solvedMetr = new Metr($this.find('.solved-container'), {
                        background: true,
                        colors: ['#D00000', '#A00000'],
                        progress: [challenges['solved'] / challenges['total'] * 100, (challenges['solved'] + challenges['in_progress']) / challenges['total'] * 100]
                    });
                    var pointsMetr = new Metr($this.find('.points-container'), {
                        background: true,
                        colors: ['#00D000', '#00A000'],
                        progress: [points['earned'] / points['total'] * 100, points['in_progress'] / points['total'] * 100]
                    });

                });
            });
        });
    </script>
{% endblock %}