{% extends 'base.html' %}
{% load static %}

{% block subtitle %}- Reports{% endblock %}
{% block reports_class %}active{% endblock %}
{% block content %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Report for All CTFs</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <!--img src="clocks/orange.png" width="200"-->
	      <div id="solved-container"></div>
              <h4>Challenges Solved</h4>
              <span class="text-muted">Percent for CTF</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
	      <!--img src="clocks/pink.png" width="200"-->
	      <div id="time-container"></div>
              <h4>Time Remaining</h4>
              <span class="text-muted">Until the end of CTF</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
	      <!--img src="clocks/green.png" width="200"-->
	      <div id="users-container"></div>
              <h4>Users Online</h4>
              <span class="text-muted">Within the Past 30 Min</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <!--img src="clocks/blue.png" width="200"-->
	      <div id="points-container"></div>
              <h4>Points Earned</h4>
              <span class="text-muted">Percent by CTF</span>
            </div>
	</div>

        <h1 class="page-header">Report for Sample CTF</h1>                                         
                                                                                                  
        <div class="row placeholders">                                                            
          <div class="col-xs-6 col-sm-3 placeholder">                                             
            <!--img src="clocks/orange.png" width="200"-->                                        
            <div id="solved-container"></div>                                                     
            <h4>Challenges Solved</h4>                                                            
            <span class="text-muted">Percent for Sample CTF</span>                                
          </div>                                                                                  
          <div class="col-xs-6 col-sm-3 placeholder">                                             
            <!--img src="clocks/pink.png" width="200"-->                                          
            <div id="time-container"></div>                                                       
            <h4>Time Remaining</h4>                                                               
            <span class="text-muted">Until the end of Sample CTF</span>                           
          </div>                                                                                  
          <div class="col-xs-6 col-sm-3 placeholder">                                             
            <!--img src="clocks/green.png" width="200"-->                                         
            <div id="users-container"></div>                                                      
            <h4>Users Online</h4>                                                                 
            <span class="text-muted">Within the Past 30 Min</span>                                
          </div>                                                                                  
          <div class="col-xs-6 col-sm-3 placeholder">                                             
            <!--img src="clocks/blue.png" width="200"-->                                          
            <div id="points-container"></div>                                                     
            <h4>Points Earned</h4>                                                                
            <span class="text-muted">Percent by Sample CTF</span>                                 
          </div>                                                                                     
        </div>
      </div>
    </div>
{% endblock %}