{% extends 'base.html' %}
{% load static %}

{% block subtitle %}- Reports{% endblock %}
{% block settings_class %}active{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Settings</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Reset Password</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}