{% load static %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="{% if view_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}">Overview</a></li>
        <li class="{% if view_name == 'reports' %}active{% endif %}"><a href="{% url 'reports' %}">Reports</a></li>
        <li class="{% if view_name == 'ctf_tools' %}active{% endif %}"><a href="{% url 'ctf_tools' %}">CTF Tools</a></li>
    </ul>
    {# the problem starts here #}
    {% for ctf in ctfs %}
    <ul class="nav nav-sidebar">
        <li class="{% if view_name == 'view_ctf' %}active{% endif %}"><a href="{{ ctf.get_absolute_url }}">{{ ctf.name }}</a></li>
        {% for challenge in ctf.challenges.all %}
            <li class="{% if view_name == 'view_challenge' %}active{% endif %}"><a href="{{ challenge.get_absolute_url }}">--{{ challenge.name }}</a></li>
        {% endfor %}
        <li class="{% if view_name == 'add_challenge' %}active{% endif %}"><a href="{% url 'add_challenge' ctf.slug %}">--Add Challenge</a></li>
    </ul>
    {% endfor %}
    {# the problem ends here #}
    <ul class="nav nav-sidebar">
        <li class="{% if view_name == 'add_ctf' %}active{% endif %}"><a href="{% url 'add_ctf' %}">Add CTF</a></li>
    </ul>
</div>