{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block subtitle %}- Tools{% endblock %}
{% block ctftools_class %}active{% endblock %}
{% block content %}
    <div class="small-9 medium-10 columns">
        <h1 class="sub-header">CTF Tools</h1>

        <ul id="tools" class="small-block-grid-1 medium-block-grid-2">
            <li>{% crispy hash_form %}</li>
            <li>{% crispy rot_form %}</li>
            <li>{% crispy base_conversion_form %}</li>
            <li>{% crispy xor_form %}</li>
            <li>{% crispy quote_form %}</li>
            <li>{% crispy unquote_form %}</li>
        </ul>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script type="application/javascript" src="{% static 'js/ctftools.js' %}"></script>
{% endblock %}